/* .input-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.fieldName{
    font-size: medium;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.small{
    max-width: 300px;
    border: 1px solid red;
}
.medium{
    max-width: 500px;
    border: 1px solid yellow;
}
.default{
    max-width: 100%;
    border: 1px solid black;
    padding: 6px;
} */

ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
input{
    width: 100%;
    max-width: 400px;;
    margin: 0px;
    padding: 8px 0px;
}
li{
    padding: 4px;
}
li:hover{
background-color: gainsboro;
}

.search{
    max-width: 400px;
    margin: auto;
    padding-top: 10px;
}

/* --------image slider-------- */

.slider-container{
    max-height: 400px;
    width: 100%;
    position: relative;
}
.slider-img{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.btn1{
    position: absolute;
    top: 45%;
    left: 4px;
    padding: 20px 0px;
}
.btn2{
    position: absolute;
    top: 45%;
    right: 4px;
    padding: 20px 0px;
}

/* --------utube stram------- */

.container{
    padding: 4px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}

.video{
    width: 65vw;
    height: 70vh;
    border: 1px solid black;
}
.stream{
    width: 30vw;
    height: 70vh;
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
.pp{
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 100%;
}
.chat{
    display: flex;
    padding: 6px;
}
.bold{
    font-weight: 700;
}